.about {

}

.about__header {
  margin-bottom: 50px;
  text-align: center;
}

.about__subheader {
  margin: 10px 0;
  color: $color-red-text;
}

.about__grid {
  padding-bottom: 10px;
  @media (min-width: $viewpoint--desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    width: 100%;
    justify-content: space-between;
  }
}
.about__card {
  max-width: 550px;
  margin: 0 auto;
  @media (min-width: $viewpoint--desktop) {

  }
}

.about__text_block {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
