.community {
  background-color: $bg-hard-black;
}

.community__header {
  margin-bottom: 50px;
  text-align: center;
}

.community__text {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.community__grid {
  display: grid;
  grid-template-areas:
    "a a"
    "c d"
    "f d"
    "f e"

    "g g";

  @media (min-width: $viewpoint--desktop) {
    grid-template-areas:
      "a a b"
      "a a b"
      "c d b"
      "c d e"
      "f d e"
      "f g g"
      "f g g";
  }
  grid-gap: 20px;
}

.img_1 {
  grid-area: a;
}

.img_2 {
  display: none;

  @media (min-width: $viewpoint--desktop) {
    display: block;
    grid-area: b;
  }
}

.img_3 {
  grid-area: c;
}

.img_4 {
  grid-area: d;
}

.img_5 {
  grid-area: e;
}

.img_6 {
  grid-area: f;
}

.img_7 {
  grid-area: g;
}

