.contacts {
  background-color: $bg-soft-black;
}

.contacts__header {
  margin-bottom: 50px;
  text-align: center;
}

.contacts__text {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.contacts__grid {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}
