.how-to-join {

}

.how-to-join__header {
  text-align: center;
}

.how-to-join__text {
  text-align: center;
}

.how-to-join__text-block {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}
