.main-banner {
  background-color: $bg-hard-black;
  overflow:hidden;
  //min-height: 1200px;
  background-image: url("https://sadedroot.github.io/felag/img/small-wolf.png");
  background-repeat: no-repeat;
  background-position: left 0 top 70px;

  @media (min-width: 380px) {
    background-position: right 10% top 70px;
  }
  @media (min-width: $viewpoint--desktop) {
    background-image: url("https://sadedroot.github.io/felag/img/big-wolf.png");
    background-position: right 35% top 30px;
  }
}

.main-banner__container {
  padding-top: 10px;

  @media (min-width: $viewpoint--desktop) {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}
.main-banner__header {

  white-space: pre-wrap;
  font-family: $font-family--bebas;
  font-size: 64px;
  line-height: 78px;

  @media (min-width: $viewpoint--desktop) {
    font-size: 121px;
    line-height: 145px;
  }
}

.main-banner__text-content {
  width: 100%;
  background-color: $color-soft-black;
  margin: 0 auto;
  padding: 35px 20px;
  text-align: justify;
  opacity: 0.85;
}
