.page-footer__flex {

  display: grid;
  justify-items: center;
  align-content: center;
  grid-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $viewpoint--desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.page-footer__icons {
  display: flex;
  gap: 50px;
}

.page-footer__icon {
  width: 48px;
  height: 48px;
  background-color: $color-main-text;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: $bg-main-red;
  }

  &:active {
    background-color: $bg-soft-black;
  }
}

.page-footer__sponsors {
  font-size: 18px;
}
.page-footer__link {
  color: $color-red-text;
  width: fit-content;

  &:hover {
    color: $color-red-bg;
  }

  &:active {
    color: $color-second-text;
  }

  &--center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

}

.page-footer__pp-btn {
  color: $color-red-text;
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;

  &:hover {
    color: $color-red-bg;
  }

  &:active {
    color: $color-second-text;
  }
}

.page-footer__pp-text {
  display: block;

  &--close {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
  }
}



.page-footer__year {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;
}

.page-footer__text {
  color: #a4a9af;
  text-align: justify;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
