.page-header {
  //TODO: сделать фиксированное меню с появляющимся бакграундом.
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $bg-hard-black;

  @media (min-width: $viewpoint--desktop){
    background-color: transparent;
  }
}

.page-header__wrapper {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $viewpoint--desktop){
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo {
  display: none;
  width: 44px;
  height: 51px;

  @media (min-width: $viewpoint--desktop){
    display: block;
  }
}

.page-header__burger-btn {
  padding: 0;
  height: 60px;

  color: $color-main-text;

  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;

  svg {
    fill: currentColor;
  }

  &:hover {
    color: $color-second-text;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $viewpoint--desktop) {
    display: none;
  }

  .page-header__menu-burger {
    display: block;
  }

  .page-header__menu-cross {
    display: none;
  }

  &--active {
    .page-header__menu-burger {
      display: none;
    }

    .page-header__menu-cross {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
