.training {
  background-color: $bg-hard-black;
}

.training__header {
  margin-bottom: 50px;
  text-align: center;
}

.training__subheader {
  margin: 35px auto 18px;
  max-width: 960px;
}

.training__grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $viewpoint--desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.training__card {
  display: flex;
  flex-direction: column;
}

.training__card_text {
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: 20px;
}

.training__card_img {
  justify-self: center;
  align-self: center;
}

.training__card-header {
  margin: 20px 0 18px;
}

.training__text_block {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
