html,
body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: $font-family--roboto;
  color: $color-main-text;

  @media (min-width: $viewpoint--desktop) {
    font-size: 24px;
    line-height: 32px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.section_header {
  font-family: $font-family--bebas;
  font-size: 64px;
  line-height: 77px;
  padding: 0;
  margin: 0;
}

.section_header--pads {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_subheader {
  font-family: $font-family--bebas;
  font-size: 36px;
  line-height: 43px;
  padding: 0;
}

.text__secondary {
  color: $color-second-text;
  text-align: justify;
}
