html,
body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: $font-family--roboto;
  color: $color-black;
}

a {
  color: inherit;
  text-decoration: none;
}
