// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-main-text: #EFEFFA;
$color-second-text: #A4A9AF;
$color-main-black:#14171A;
$color-soft-black: #1D2124;
$color-hard-black: #0B0D0F;

//Backgrounds

$bg-main-black: $color-main-black;
$bg-soft-black: $color-soft-black;
$bg-hard-black: $color-hard-black;

// Fonts

$font-family--roboto: "Roboto", sans-serif;
$font-family--bebas: "Bebas Neue", sans-serif;

// Viewpoints
$viewpoint--tablet: 600px;
$viewpoint--desktop: 900px;
