// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-main-text: #f5f3f4;
$color-second-text: #D3D3D3;
$color-main-black: #110404;
$color-soft-black: #161a1d;
$color-hard-black: #0B090A;
$color-red-text: #e5383b;
$color-red-bg: #BA181B;


//Backgrounds

$bg-main-black: $color-main-black;
$bg-soft-black: $color-soft-black;
$bg-hard-black: $color-hard-black;
$bg-main-red: $color-red-bg;

// Fonts

$font-family--roboto: "Roboto", sans-serif;
$font-family--bebas: "Bebas Neue", sans-serif;

// Viewpoints

$viewpoint--desktop: 700px;
